@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
       url('../fonts/BebasNeue-Regular.woff') format('woff'),
       url('../fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Boska-Bold';
  src: url('../fonts/Boska-Bold.woff2') format('woff2'),
       url('../fonts/Boska-Bold.woff') format('woff'),
       url('../fonts/Boska-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito-Regular';
  src: url('../fonts/Nunito-Regular.woff2') format('woff2'),
       url('../fonts/Nunito-Regular.woff') format('woff'),
       url('../fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/*base*/

body{
    background-color: #F3F4F4;
    font-family: 'Nunito-Regular', sans-serif;
}

p{
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 16px;
    color: #F3F4F4;
    margin: 20px 0 40px 0 ;
    text-align: justify;
}

/*header*/
header {
    background-color: #F3F4F4;
    padding: 10px;
    text-align: center;
}

h1{
    font-family: 'BebasNeue-Regular', sans-serif;
    font-size: 30px;
    color: #2C2C2C;
    margin: 20px 0 40px 0 ;

}

.TitleAndButton{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #612D53;
    border-radius: 30px;
}

h2{
    font-family: 'Boska-Bold', sans-serif;
    font-size: 126px;
    color: #F3F4F4;
    margin: 240px 0 60px 0 ;
}

abbr{
    text-decoration: none;
}

/*button*/
button {
  padding: .8em 2.7em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #2C2C2C;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.learnmore{
    margin: 80px;
}

button:hover {
  box-shadow: 0px 15px 20px #853953;
  color: #2C2C2C;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}


/*Preamble*/
.summary-cart{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    border-radius: 30px;
    gap: 20px;
}

.summary{
    background-color: #612D53;
    color: #F3F4F4;
    padding: 0 30px;
    
}

.para{
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 28px;
    color: #F3F4F4;
    margin: 40px 0 20px 0 ;
    text-align: justify;
}

.summary:hover{
    background-color: #853953;
}



.preamble{
    background-color: #612D53;
    color: #F3F4F4;
    padding: 0 30px;
}

.preamble:hover{
    background-color: #853953;
}

h3{
    font-family: 'Boska-Bold', sans-serif;
    font-size: 30px;
    color: #F3F4F4;
    margin: 20px 0 40px 0 ;
}

.main-supporting{
    background-color: orange;
}

/*footer*/